In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("."))

['.ipynb_checkpoints', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [330]:
data = pd.read_csv('./data.csv')
data.head(50)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015
13,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015
16,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,1578,6.1,2015
17,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,3779,7.0,2015
18,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,1495,6.8,2015
19,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,2380,6.5,2015
20,tt1964418,5.462138,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,1899,6.2,2015
21,tt1798684,5.337064,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,1386,7.3,2015
22,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,2060,6.1,2015
23,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,Sam Taylor-Johnson,Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,1865,5.3,2015
24,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015
25,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015
26,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015
27,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,Matthew Vaughn,Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,3833,7.6,2015
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,1559,7.8,2015
29,tt4046784,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,1849,6.4,2015
30,tt1823672,3.899557,49000000,102069268,Chappie,Sharlto Copley|Dev Patel|Ninja|Yolandi Visser|...,Neill Blomkamp,I am consciousness. I am alive. I am Chappie.,Every child comes into the world full of promi...,120,Crime|Action|Science Fiction,Columbia Pictures|Media Rights Capital|Sony Pi...,3/4/2015,1990,6.6,2015
31,tt2848292,3.877764,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,Elizabeth Banks,We're back pitches,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/2015,1264,6.8,2015
32,tt3682448,3.648210,40000000,162610473,Bridge of Spies,Tom Hanks|Mark Rylance|Amy Ryan|Alan Alda|Seba...,Steven Spielberg,"In the shadow of war, one man showed the world...","During the Cold War, the Soviet Union captures...",141,Thriller|Drama,DreamWorks SKG|Amblin Entertainment|Studio Bab...,10/15/2015,1638,7.1,2015
33,tt1051904,3.644541,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,600,6.2,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
35,tt1979388,3.339135,175000000,331926147,The Good Dinosaur,Raymond Ochoa|Jack Bright|Jeffrey Wright|Franc...,Peter Sohn,Little Arms With Big Attitude,An epic journey into the world of dinosaurs wh...,93,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios|B...,11/14/2015,1087,6.6,2015
36,tt2199571,3.237370,50000000,71561644,Run All Night,Liam Neeson|Ed Harris|Joel Kinnaman|Boyd Holbr...,Jaume Collet-Serra,No sin goes unpunished,Brooklyn mobster and prolific hit man Jimmy Co...,114,Action|Crime|Drama|Mystery|Thriller,Vertigo Entertainment|Energy Entertainment|Rat...,3/11/2015,814,6.3,2015
37,tt2381111,3.227329,11000000,62076141,Brooklyn,Saoirse Ronan|Domhnall Gleeson|Emory Cohen|Emi...,John Crowley,"Two countries, two loves, one heart","In 1950s Ireland and New York, young Ellis Lac...",111,Drama|Romance,Wildgaze Films|Irish Film Board|Item 7|Paralle...,11/4/2015,754,7.3,2015
38,tt1398426,3.202719,28000000,201634991,Straight Outta Compton,O'Shea Jackson Jr.|Corey Hawkins|Jason Mitchel...,F. Gary Gray,The Story of N.W.A.,"In 1987, five young men, using brutally honest...",147,Drama|Music,New Line Cinema|Universal Pictures|Legendary P...,8/13/2015,918,7.7,2015
39,tt1618442,3.080505,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by fa...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment ...,10/21/2015,879,5.6,2015
40,tt1638355,3.053421,75000000,108145109,The Man from U.N.C.L.E.,Henry Cavill|Armie Hammer|Alicia Vikander|Eliz...,Guy Ritchie,Saving the world never goes out of style.,"At the height of the Cold War, a mysterious cr...",116,Comedy|Action|Adventure,Davis Entertainment|Warner Bros.|Wigram Produc...,8/13/2015,1548,7.0,2015
41,tt1655441,3.025852,25000000,42629776,The Age of Adaline,Blake Lively|Michiel Huisman|Harrison Ford|Ell...,Lee Toland Krieger,Love is timeless.,After 29-year-old Adaline recovers from a near...,112,Fantasy|Drama|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,4/16/2015,1221,7.3,2015
42,tt3072482,3.023253,10000000,14333790,Hardcore Henry,Sharlto Copley|Haley Bennett|Danila Kozlovskiy...,Ilya Naishuller,First they made him dangerous. Then they made ...,"Henry, a newly resurrected cyborg who must sav...",97,Action|Adventure|Science Fiction,Bazelevs Production|Versus Pictures,9/12/2015,396,5.9,2015
43,tt2224026,2.976436,135000000,368871007,Home,Jim Parsons|Rihanna|Steve Martin|Jennifer Lope...,Tim Johnson,Worlds Collide,When Earth is taken over by the overly-confide...,94,Fantasy|Comedy|Animation|Science Fiction|Family,Twentieth Century Fox Film Corporation|DreamWo...,3/18/2015,1060,6.9,2015
44,tt3622592,2.968254,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,7/9/2015,1252,6.2,2015
45,tt2402927,2.883233,11800000,40272135,Carol,Cate Blanchett|Rooney Mara|Kyle Chandler|Sarah...,Todd Haynes,Some people change your life forever.,"In 1950s New York, a department-store clerk wh...",118,Romance|Drama,Killer Films|Film4|Number 9 Films,11/20/2015,562,7.1,2015
46,tt2361509,2.814802,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,1255,7.1,2015
47,tt2719848,2.798017,55000000,203427584,Everest,Jason Clarke|Jake Gyllenhaal|Josh Brolin|John ...,Baltasar KormÃ¡kur,The Storm Awaits.,Inspired by the incredible events surrounding ...,121,Adventure|Drama,Universal Pictures|Working Title Films|Walden ...,9/10/2015,1172,6.7,2015
48,tt2058673,2.614499,105000000,133718711,Point Break,Edgar RamÃ­rez|Luke Bracey|Teresa Palmer|Delro...,Ericson Core,The only law that matters is gravity,A young undercover FBI agent infiltrates a gan...,114,Action|Crime|Thriller,Studio Babelsberg|Alcon Entertainment|DMG Ente...,12/3/2015,505,5.5,2015
49,tt2503944,2.584264,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia...,John Wells,Never underestimate a man with everything to l...,Adam Jones is a Chef who destroyed his career ...,100,Drama,Double Feature Films|PeaPie Films|3 Arts Enter...,10/2/2015,631,6.3,2015

In [231]:
len(data)

1890

# Предобработка датасета

In [232]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [233]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [234]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [235]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [236]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [237]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [238]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [239]:
data.runtime.mean()

109.65343915343915

In [240]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [241]:
data.runtime.median()

106.5

In [242]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [243]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [244]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [245]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [246]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [247]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
len(data[data.profit > 0])

1478

In [248]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [249]:
data = pd.read_csv('./data.csv')

data = data[data.release_year == 2008]

data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [250]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [251]:
data = pd.read_csv('./data.csv')

data = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [252]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [253]:
data = pd.read_csv('./data.csv')

import collections
c = collections.Counter()

for gg in data.genres:
    for g in gg.split('|'):
        c[g] += 1
print(c.most_common(1))

[('Drama', 782)]

In [254]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [255]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
data = data[data.profit > 0]

import collections
c = collections.Counter()


for gg in data.genres:
    for g in gg.split('|'):
        c[g] += 1
print(c.most_common(1))

[('Drama', 560)]

In [256]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [357]:
data = pd.read_csv('./data.csv')


import collections
c = collections.Counter()

for dd in data.director:
    for d in dd.split('|'):
        c[d] += 1
print(c.most_common(1))

[('Steven Soderbergh', 13)]

In [258]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [358]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
data = data[data.profit > 0]

import collections
c = collections.Counter()

for dd in data.director:
    for d in dd.split('|'):
        c[d] += 1
print(c.most_common(1))

[('Ridley Scott', 12)]

In [335]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [340]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget

import collections
c = collections.Counter()

for x in data.imdb_id:
    profit = data[data.imdb_id == x].profit.iloc[0]
    dd = data[data.imdb_id == x].director.iloc[0]
    for d in dd.split('|'):
         c[d] += profit
print(c.most_common(1))

[('Peter Jackson', 5202593685)]

In [262]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [263]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget

import collections
c = collections.Counter()

for x in data.imdb_id:
    profit = data[data.imdb_id == x].profit.iloc[0]
    cast = data[data.imdb_id == x].cast.iloc[0]
    for a in cast.split('|'):
         c[a] += profit
print(c.most_common(1))

[('Emma Watson', 6666245597)]

In [264]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [265]:
data = pd.read_csv('./data.csv')

data = data[data.release_year == 2012]

data['profit'] = data.revenue - data.budget

import collections
c = collections.Counter()

for x in data.imdb_id:
    profit = data[data.imdb_id == x].profit.iloc[0]
    cast = data[data.imdb_id == x].cast.iloc[0]
    for a in cast.split('|'):
         c[a] += profit
print(c.most_common()[-1:])

[('Kirsten Dunst', -68109207)]

In [266]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [267]:
data = pd.read_csv('./data.csv')

data = data[data.budget >  data.budget.mean()]

import collections
c = collections.Counter()

for cc in data.cast:
    for a in cc.split('|'):
        c[a] += 1
print(c.most_common(1))

[('Matt Damon', 18)]

In [268]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [269]:
data = pd.read_csv('./data.csv')

data = data[data.cast.str.contains("Nicolas Cage", na = False)]

import collections
c = collections.Counter()


for gg in data.genres:
    for g in gg.split('|'):
        c[g] += 1
print(c.most_common(1))

[('Action', 17)]

In [270]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [271]:
data = pd.read_csv('./data.csv')

import collections
c = collections.Counter()

for p in data.production_companies:
    for s in p.split('|'):
        c[s] += 1
print(c.most_common(1))

[('Universal Pictures', 173)]

In [272]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [273]:
data = pd.read_csv('./data.csv')

data = data[data.release_year == 2015]

import collections
c = collections.Counter()

for pc in data.production_companies:
    for s in pc.split('|'):
        c[s] += 1
print(c.most_common(1))

[('Warner Bros.', 12)]

In [274]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [275]:
data = pd.read_csv('./data.csv')

data = data[data.genres.str.contains("Comedy", na = False, regex=False)]

data['profit'] = data.revenue - data.budget

import collections
c = collections.Counter()

for x in data.imdb_id:
    profit = data[data.imdb_id == x].profit.iloc[0]
    pc = data[data.imdb_id == x].production_companies.iloc[0]
    for s in pc.split('|'):
         c[s] += profit
print(c.most_common(1))

[('Universal Pictures', 8961545581)]

In [276]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [277]:
data = pd.read_csv('./data.csv')

data = data[data.release_year == 2012]

data['profit'] = data.revenue - data.budget

import collections
c = collections.Counter()

for x in data.imdb_id:
    profit = data[data.imdb_id == x].profit.iloc[0]
    pc = data[data.imdb_id == x].production_companies.iloc[0]
    for s in pc.split('|'):
         c[s] += profit
print(c.most_common(1))

[('Columbia Pictures', 2501406608)]

In [278]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [279]:
data = pd.read_csv('./data.csv')

data = data[data.production_companies.str.contains("Paramount Pictures", na = False, regex=False)]

data['profit'] = data.revenue - data.budget

data[data.profit == data.profit.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [280]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [281]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget

grouped_df = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)
grouped_df

release_year
2015    18668572378
Name: profit, dtype: int64

In [282]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [283]:
data = pd.read_csv('./data.csv')

data = data[data.production_companies.str.contains("Warner Bros", na = False, regex=False)]

data['profit'] = data.revenue - data.budget

grouped_df = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)
grouped_df

release_year
2014    2295464519
Name: profit, dtype: int64

In [284]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [285]:
data = pd.read_csv('./data.csv')

data['month'] = data.release_date.apply(lambda d: d.split('/')[0])

grouped_df = data.groupby(['month'])['original_title'].count().sort_values(ascending=False).head(1)
grouped_df

month
9    227
Name: original_title, dtype: int64

In [286]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [287]:
data = pd.read_csv('./data.csv')

data['month'] = data.release_date.apply(lambda d: int(d.split('/')[0]))

data = data.query('month in [6, 7, 8]')

data.count()[0]

450

In [288]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [360]:
data = pd.read_csv('./data.csv')

data['month'] = data.release_date.apply(lambda d: int(d.split('/')[0]))

data = data.query('month in [12, 1, 2]')

import collections
c = collections.Counter()

for dd in data.director:
    for d in dd.split('|'):
         c[d] += 1
print(c.most_common(1))

[('Peter Jackson', 7)]

In [290]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [543]:
data = pd.read_csv('./data.csv')

data['month'] = data.release_date.apply(lambda d: int(d.split('/')[0]))

data['profit'] = data.revenue - data.budget

pivot = data.pivot_table(values=['profit'],
index=['release_year', 'month'],            
aggfunc='sum',
fill_value=0).sort_values(('profit'), ascending=False)

data = pd.DataFrame(pivot.to_records())

max_month = data.groupby('release_year').max()
data.merge(max_month, on = ['release_year', 'profit'], how='inner').month_x.value_counts()

6     7
12    4
5     4
7     1
Name: month_x, dtype: int64

In [504]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [521]:
data = pd.read_csv('./data.csv')

data['len'] = data.original_title.apply(lambda t: len(t))


import collections
c = collections.Counter()

for x in data.imdb_id:
    d = data[data.imdb_id == x]
    pc = d.production_companies.iloc[0]
    ln = d.len.iloc[0]
    for s in pc.split('|'):
        c[s] += ln

for s, l in c.items():
    d = data[data.production_companies.str.contains(s, na = False, regex=False)]
    cnt = d.original_title.count()
    c[s] = l / cnt

print(c.most_common(1))

[('Four By Two Productions', 83.0)]

In [295]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [351]:
data = pd.read_csv('./data.csv')

data['len'] = data.original_title.apply(lambda t: len(t.split(' ')))


import collections
c = collections.Counter()

for x in data.imdb_id:
    d = data[data.imdb_id == x]
    pc = d.production_companies.iloc[0]
    ln = d.len.iloc[0]
    for s in pc.split('|'):
        c[s] += ln

for s, l in c.items():
    d = data[data.production_companies.str.contains(s, na = False, regex=False)]
    cnt = d.original_title.count()
    c[s] = l / cnt

print(c.most_common(1))

[('Four By Two Productions', 12.0)]

In [297]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [522]:
data = pd.read_csv('./data.csv')
import re 

import collections
c = collections.Counter()

for t in data.original_title:
    for s in t.split(' '):
        if s in '.?!':
            continue
        c[s.lower()] += 1
print(len(c))

2461

In [342]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [9]:
data = pd.read_csv('./data.csv')

prec = data.imdb_id.count() * 0.01
d = data.sort_values(['vote_average'], ascending=False).head(int(prec))

ls1 = ['Inside Out', 'Gone Girl', '12 Years a Slave']
ls2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkl']
ls3 = ['The Lord of the Rings: The Return of the King']
ls4 = ['300', 'Lucky Number Slevin']

for l in ls1:
    if d[d.original_title == l].imdb_id.count() == 0:
        break
else:
    print(ls1)
    
for l in ls2:
    if d[d.original_title == l].imdb_id.count() == 0:
        break
else:
    print(ls2)

for l in ls3:
    if d[d.original_title == l].imdb_id.count() == 0:
        break
else:
    print(ls3)

for l in ls4:
    if d[d.original_title == l].imdb_id.count() == 0:
        break
else:
    print(ls4)

['Inside Out', 'Gone Girl', '12 Years a Slave']
['The Lord of the Rings: The Return of the King']

In [333]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [320]:
data = pd.read_csv('./data.csv')


import collections
from itertools import combinations
c = collections.Counter()

act_list = []


for x in data.cast:
    for a in x.split('|'):
        act_list.append(a)
    act_list.sort()
    d = list(combinations(act_list, 2))
    act_list.clear()
    for i in d:
        c[i] +=1
    
        
print(c.most_common(3))

[(('Daniel Radcliffe', 'Emma Watson'), 8), (('Daniel Radcliffe', 'Rupert Grint'), 8), (('Emma Watson', 'Rupert Grint'), 8)]

In [303]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [541]:
data = pd.read_csv('./data.csv')

data['profit'] = data.revenue - data.budget
pdata = data[data.profit > 0]

import collections
profit_films = collections.Counter()
all_films = collections.Counter()

for x in data.director:
    for d in x.split('|'):
        all_films[d] = data[data.director.str.contains(d, na = False, regex=False)].imdb_id.count()
        profit_films[d] = pdata[pdata.director.str.contains(d, na = False, regex=False)].imdb_id.count()

profit_films = pd.DataFrame.from_dict(profit_films, orient='index').reset_index()
all_films = pd.DataFrame.from_dict(all_films, orient='index').reset_index()

profit_films.columns = ['director', 'profit_films']
all_films.columns = ['director', 'all_films']

d = all_films.merge(profit_films, on='director')
d['factor'] = d.profit_films / d.all_films

ls = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

d[d.director.isin(ls)]

              director  all_films  profit_films    factor
17   Quentin Tarantino          7             6  0.857143
122  Christopher Nolan          8             8  1.000000
148     Clint Eastwood         12            10  0.833333
190   Robert Rodriguez         11             8  0.727273
289  Steven Soderbergh         13            10  0.769231

In [542]:
answer_ls.append(4)

# Submission

In [306]:
len(answer_ls)

36

In [307]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       1
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       3
30  31       5
31  32       5
32  33       3
33  34       3
34  35       5
35  36       2